/*
Author: Daan van den Bergh
Copyright: © 2022 Daan van den Bergh.
*/

/* On all elements. */
* {
	
	/* Box sizing on all elements. */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mos-box-sizing: border-box;
	-ms-box-sizing: border-box;
	
	/* Hide scrollbar. 
	-webkit-scrollbar::display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
	*/
	
}

/* Hide the scrollbar */
.hide_scrollbar:-webkit-scrollbar {
	-webkit-scrollbar::display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hide_scrollbar::-webkit-scrollbar { /* Hide vertical scrollbar */
  width: 0.5em;
  background: transparent;
}
.hide_scrollbar::-webkit-scrollbar-track { /* Track */
  background: transparent;
}
.hide_scrollbar::-webkit-scrollbar-thumb { /* Handle */
  background: transparent;
}
.hide_scrollbar::-webkit-scrollbar-horizontal { /* Hide horizontal scrollbar */
  height: 0.5em;
  background: transparent;
}
.hide_scrollbar::-webkit-scrollbar-horizontal-track { /* Track */
  background: transparent;
}
.hide_scrollbar::-webkit-scrollbar-thumb-horizontal { /* Handle */
  background: transparent;
}
.hide_scrollbar {
  scrollbar-width: none; /* Firefox scrollbar */
}

/* Ring loader keyframe. */
@keyframes RingLoader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}