/*
Author: Daan van den Bergh
Copyright: © 2022 Daan van den Bergh.
*/

/* On all elements. */
* {
	
	/* Box sizing on all elements. */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-mos-box-sizing: border-box;
	-ms-box-sizing: border-box;
	
	/* Hide scrollbar. */
	-webkit-scrollbar::display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
	
}
